:root {
    --color1: #263238;
    --color2: #252728;
    --color3: #252728;
    --colorfondo: #041F31;
    --color-text: #BDEBEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    background-color: var(--colorfondo);
}

a {
    text-decoration: none;
}

/* style header */
.header {
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.menu ul {
    display: flex;
    list-style: none;
}
.menu__item {
    color: var(--color-text);
    margin-right: 3.4rem;
    padding: 1.2rem 1.5rem;
    border-radius: .6rem;
}
.menu__item:hover {
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    color: #252728;
    opacity: .8;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: .8;
    }
}
.menu__btn {
    display: none;
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: transparent;
    position: relative;
}
.menu__btn input {
    display: none;
}
.menu__btn--text {
    display: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.menu__btn--fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://cdn-icons.flaticon.com/png/512/3876/premium/3876058.png?token=exp=1643317758~hmac=4f95edd8432802fceee4db1e0e17e73a);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu__btn input:checked ~ .menu__btn--text {
    display: block;
}
.menu__btn input:checked ~ .menu__btn--fondo {
    display: none;
}

.menu__btn input:checked .menu ul {
    display: block;
}


/* style main 
   section Home
*/
.main {
    width: 100%;
}
.main__home {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1506&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.home {
    width: 90%;
    height: calc(100vh - 9rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main__home > div {
    flex: 1;
}

.home__text {
    margin-bottom: 12rem;
    background-color: rgba(4, 31, 49, .7);
    padding: 1.5rem 1.5rem 1.5rem 0;
    box-shadow: 0px 1px 15px 15px rgba(4, 31, 49, .7);
    border-radius: .4rem;

}
.home__text h3 {
    font-size: 2rem;
}
.home__text h2 {
    font-size: 6.2rem;
    font-weight: 600;
    margin: 1rem 0;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.home__text p {
    font-size: 1.6rem;
    margin: 1rem 0;
    line-height: 2.4rem;
}
.home__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}
.home__image img {
    width: 80%;
    padding: 1rem;
    border-radius: 50%; 
    margin: 1rem;
    border: 2px solid var(--color-text);
}

/* section about */
.main__abaout {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abaout__container {
    width: 80%;
    margin: 10rem;
}
.abaout__container h3 {
    font-weight: 600;
    font-size: 2.4rem;
    padding: 1rem 0;
}
.abaout__container p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding-left: 1.4rem;
    margin: 1rem 0;
    border-left: 3px solid transparent;
    border-image: linear-gradient(to top, #00D9F5, #00F5A0) 1;
}

/* section main__skill */
.main__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
.section__title {
    width: 80%;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.skill__container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.5rem;
    justify-items: center;
    padding: 5rem 0;
}
.skill__container--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skill__container--item img {
    width: 40%;
    object-fit: cover;
}
.skill__container--item p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* section main proyects */
.main__proyects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects__container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}
.card {
    width: 40rem;
    height: 28rem;
    margin: 2rem;
    border-radius: .6rem;
    position: relative;
}
.card__container {
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    position: absolute;
    bottom: 0;
    opacity: 0;
}
.card:hover .card__container {
    opacity: .8;
    animation-name: fadeIn;
    animation-duration: 0.7s;
}
.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .6rem;
}
.card__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    position: absolute;
    bottom: 5.5rem;
    left: .5rem;
    z-index: 1;
}
.access {
    width: 16rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50%;
    left: calc(50% - 8rem);
    z-index: 1;
}
.access a {
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    color: #252728;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: .4rem;
    opacity: .8;
    animation-name: fadeIn;
    animation-duration: 1.4s;
    padding: .4rem;
}
.access a:hover {
    opacity: 1;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, .4);
}
.card__container > p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 4%;
    padding: .5rem;
    position: absolute;
    bottom: 0;
}

/* section main contact */
.main__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__container {
    width: 90%;
    max-width: 53.2rem;
    margin: 3rem 0;
}
.contact__container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact__container label {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}
.contact__container label span {
    font-size: 1.4rem;
    font-weight: 400;
    color: #BDEBEA;
}
.contact__container--input {
    width: 100%;
    height: 4.8rem;
    border: 1px solid #BDEBEA;
    border-radius: .6rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    padding: .5rem 1.5rem;
    margin-top: .6rem;
    color: #BDEBEA;
}
.textarea {
    height: auto;
    padding: 1.5rem;
    color: #BDEBEA;
}
.btn {
    width: 100%;
    background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
    color: #252728;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: .6rem;
    padding: 1.2rem 2rem;
    margin-top: 2.2rem;
    border: 0;
    cursor: pointer;
    opacity: .8;
}

.btn:hover {
    opacity: 1;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, .4);
}

/* style footer */
.footer {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px -5px 12px 0px #00000040;
    margin-top: 3rem;
}
.footer ul {
    width: 90%;
    max-width: 53.2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.footer ul a {
    color: #fff;
}
.footer p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
.view {
    display: block;
}
.none {
    visibility: hidden;
}

/* styles responsive */
@media (max-width: 1000px) {
    .home__text h2 {
        font-size: 5rem;
    }
    .skill__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        width: 30rem;
    }
    .card__title {
        bottom: 7.5rem;
    }
}

@media (max-width: 750px) {
    .header {
        justify-content: space-between;
        height: 6rem;
    }
    .logo {
        margin-left: 2rem;
    }
    .menu {
        margin-right: 2rem;
    }
    .menu__btn {
        display: block;
    }
    .menu__item {
        margin-right: 0;
    }
    .menu ul {
        display: none;
        background-color: var(--colorfondo);
        width: 100vw;
        height: 50vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 6rem;
        left: 0;
    }
    
    .home {
        height: calc(100vh - 6rem);
        flex-direction: column-reverse;
        align-items: center;
    }
    .home__image {
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .home__image img {
        width: 20rem;
    }
    .home__text h2 {
        font-size: 4rem;
        
    }
    .abaout__container {
        width: 90%;
        margin: 7rem;
    }
    .skill__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill__container--item p {
        font-size: 1.4em;
    }
}
@media (max-width: 400px) {
    .home__text h2 {
        font-size: 3rem;
    }
    .abaout__container {
        width: 90%;
        margin: 6rem .3rem;
    }
    .home__text {
        margin-bottom: 6rem;
    }
}